body {
    max-width: 800px;
    box-sizing: border-box;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
}

button {
    width: 100px;
    height: 30px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.restaurant-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.logo {
    max-width: 400px;
}